welcome to Redhat Ansible Training
your server name is {{ ansible_fqdn }} 
ansible is an configuration tools
your server ipaddress is {{ ansible_default_ipv4.address }}
My  name is  {{ user }}
/dev/sdb  disk stats is {{ xyz.stat.exists }}
